* {
  margin: 0;
  padding: 0;
}
.text {
  margin-top: 10px;
  position: fixed;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  left: 50%;
  transform: translate(-50%);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
